@font-face {
  font-family: "CircularAir-Light";
  src: url("../fonts/Circular_Air-Light.woff") format("woff"),
    url("../fonts/Circular_Air-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CircularAir-Book";
  src: url("../fonts/Circular_Air-Book.woff") format("woff"),
    url("../fonts/Circular_Air-Book.ttf") format("truetype");
}

@font-face {
  font-family: "CircularAir-Bold";
  src: url("../fonts/Circular_Air-Bold.woff") format("woff"),
    url("../fonts/Circular_Air-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  color: #383838;
  font-family: CircularAir-Book, Arial, sans-serif;
}

section {
  margin-top: 24px;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.row-center {
  align-items: center;
}

.row-full {
  width: 100%;
}

.col-1, .col-2, .col-3, .col4,
.col-5, .col-6, .col-7, .col8,
.col-9, .col-10, .col-11, .col12 {
  padding: 0 8px;
  box-sizing: border-box;
}

.col-1 {
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-2 {
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-5 {
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-8 {
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-11 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
