@import './grid.css';

@font-face {
  font-family: "CircularAir-Light";
  src: url("../fonts/Circular_Air-Light.woff") format("woff"),
    url("../fonts/Circular_Air-Light.ttf") format("truetype");
}

@font-face {
  font-family: "CircularAir-Book";
  src: url("../fonts/Circular_Air-Book.woff") format("woff"),
    url("../fonts/Circular_Air-Book.ttf") format("truetype");
}

@font-face {
  font-family: "CircularAir-Bold";
  src: url("../fonts/Circular_Air-Bold.woff") format("woff"),
    url("../fonts/Circular_Air-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  color: #383838;
  font-family: CircularAir-Book, Arial, sans-serif;
}

section {
  margin: 24px 18px 0 18px;
}

.flex {
  flex: 1 0 auto
}

